/*KIDS PAGE STYLING*/

#kidsFavourites{width: 100%; background: url('../images/old-bg.png'); padding: 10px 0px 5px 0px;}
#dennis{margin-left: 12%;}
#kidsFunny{background: url('../images/old-bg.png'); padding: 10px 0px 5px 0px;}
#honey{margin-left: 12%;}

.addReview{clear:both; color: #6c3c97;}
.reviewLabel{color: #6c3c97; text-decoration: none;}
